.bag {
  height: 150%;
  width: 110%;
  margin-top: 50%;
  margin-left: 35%;
}
.removeItem {
  color: #f5cf25;
  border-color: black;
  border-width: 1px;
  cursor: pointer;
}
.shopingCart {
  margin-top: 50%;
  border-radius: 0px;
  background: rgb(247, 245, 239);
  box-shadow: 5px 5px 10px #a5a5a5, -5px -5px 10px #ffffff;
  padding-top: 0% !important;
}
.btn {
  margin-top: 0% !important;
  color: black;
  width: 100% !important;
  background-color: #f5cf25;
  border-width: 0.1vw;
  border-color: black;
}
.forPay-text {
  font-size: 1.2vw;
  
}
.forPay-text:hover {
  color: rgba(255, 255, 255, 0.5);
}
